p {
  color: red;
  text-align: center;
}

h1 {
  color: lightgreen;
  text-align: center;
}

h3 {
  color: blue;
  text-align: center;
}

div.col-sm-4 {
  border-color: black;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
  background-color: lightgray;
  align-content: center;
}

div.container {
  border-color: black;
  border-width: thick;
  border-style: solid;
  border-radius: 20px;
  background-color: gray;
}
